<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 마이바티스 설정 -->
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="autoMappingBehavior" value="FULL"/>
	</settings>
	
	<!-- 별칭 등록 : 풀패키지 경로 대신 사용할 별명을 이곳에 구현 -->
	<typeAliases>
		<typeAlias type="webproject.entity.member.Member" alias="member"/>
		<typeAlias type="webproject.entity.admin.Admin" alias="admin"/>
		<typeAlias type="webproject.entity.member.AddRoom" alias="addroom"/>
		<typeAlias alias="image" type="webproject.entity.member.MemberImage"/>

	</typeAliases>	
</configuration>