<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 
	작업 : 김현진 
	내용 : 객실등록
-->
<mapper namespace="webproject.entity.member.AddRoom">
	<insert id="addroom" parameterType="addroom">
		insert into addroom_tb values(
						addroom_no_seq.nextval, #(addroom_main_fname), #(addroom_main_rname), #(addroom_main_size), 
						#(addroom_img1_fname), #(addroom_img1_rname), #(addroom_img1_size), #(addroom_img2_fname), 
						#(addroom_img2_rname), #(addroom_img2_size), #(addroom_img3_fname), #(addroom_img3_rname),
						#(addroom_img3_size), #(addroom_roomname), #(addroom_roomcount), #(addroom_limitperson), 
						#(addroom_timeprice), #(addroom_dateprice), #(addroom_info), sysdate, #(addroom_settime), 
						#(addroom_entytime), #(addroom_exittime)
		)
	</insert>
</mapper>









